.nav-menu {
    overflow: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 150px);
    padding-top: 50px;

    @media(min-width: $xlg) {
        max-height: none;
        overflow: visible;
        padding-top: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    > ul {
        display: block;
        padding-bottom: 20px;

        @media(min-width: $xlg) {
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
        }
    }

    li {

        &:hover > .sub-menu {
            @media(min-width: $xlg) {
                opacity: 1;
                z-index: 10;
                pointer-events: all;
            }
        }

    }

    > li {
        margin-right: 10px;
        width: 100%;

        @media(min-width: $xlg) {
            margin-right: 10px;
            width: auto;
            padding-top: 21px;
        }


        &:last-of-type {
            margin-right: 0px;
        }

        &.gold {
            a {
                &:before {
                    background-color: $sec-brand-color;
                }
            }
        }

        &.pink {
            a {
                &:before {
                    background-color: $pink;
                }
            }
        }

        &.red {
            a {
                &:before {
                    background-color: $red;
                }
            }
        }

        &.green {
            a {
                &:before {
                    background-color: $green;
                }

                &:hover {
                    color: $green;
                }
            }
        }

        &.white {
            a {
                &:before {
                    background-color: $white;
                }

                &:hover {
                    color: $white;
                }
            }
        }

        &.active.gold {
            a {
                color: $sec-brand-color;

                &:before {
                    background-color: $sec-brand-color;
                }
            }

            > .sub-menu  {
                border-bottom: 5px $sec-brand-color solid;
            }
        }

        &.active.pink {
            a {
                color: $pink;

                &:before {
                    background-color: $pink;
                }
            }

            > .sub-menu  {
                border-bottom: 5px $pink solid;
            }
        }

        &.active.red {
            a {
                color: $red;

                &:before {
                    background-color: $red;
                }
            }

            > .sub-menu  {
                border-bottom: 5px $red solid;
            }
        }

        &.active > a {

            &:after {
                transform: rotate(-180deg) !important;
            }
        }

        &.menu-item-has-children {
            > a,
            .menu-item-has-children > a {
                padding-right: 15px;

                @media(min-width: $md) {
                    padding-right: 70px;
                }

                @media(min-width: $xlg) {
                    padding-right: 20px;
                }

                &:after {
                    

                    @media(min-width: $md) {
                        right: 45px;
                    }

                    @media(min-width: $xlg) {
                        content: '';
                        position: absolute;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.106' height='5.555' viewBox='0 0 9.106 5.555'%3E%3Cpath id='Path_43' data-name='Path 43' d='M14.553 31.155 10 26.6l1-1 3.552 3.552L18.1 25.6l1 1Z' transform='translate(-10 -25.6)' fill='%23d3a878'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 10px;
                        height: 10px;
                        background-size: 10px;
                        top: 17px;
                        right: 5px;
                        transform: none;
                        transition: transform 0.3s ease;
                    }
                }

                &:before {        
                    @media(min-width: $xlg) {
                        width: calc(100% - 30px);
                    }
                }

                .sub-menu__main{
                    &-container {
                        display: flex;
                        border-left: 5px solid $sec-brand-color;
                    }

                    &-content {
                        position: relative;
                        width: 55%;
                        font-family: $base-font-family;
                        padding: 15px;
                        padding-bottom: 65px;

                        h5, p {
                            color: $white;
                            text-transform: none;
                            letter-spacing: 0px;
                        }

                        h5 {
                            font-size: 22px;
                            font-weight: 700;
                            line-height: 1.2;
                        }

                        p {
                            position: absolute;
                            bottom: 15px;
                            left: 15px;
                            font-weight: 400;
                            font-size: 12px;
                            color: $white;
                            text-decoration: none;
                            padding-left: 15px;
                            margin-bottom: 0;

                            @media(min-width: $md) {
                                padding-left: 20px;
                            }

                            &:before {
                                content: '';
                                left: 0;
                                top: 50%;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='2' viewBox='0 0 20 2'%3E%3Cline id='Line_3' data-name='Line 3' x2='20' transform='translate(0 1)' fill='none' stroke='%23d3a878' stroke-width='2'/%3E%3C/svg%3E");
                                content: '';
                                position: absolute;
                                background-size: contain;
                                width: 10px;
                                height: 2px;

                                @media(min-width: $md) {
                                    width: 15px;
                                }
                            }
                        }
                    }

                    &-image {
                        width: 45%;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }

            .menu-item-has-children {
                position: static;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                background-color: $white;
                padding: 75px 0px 50px 0px;
                width: 100%;
                max-width: 1400px;
                margin-left: auto;
                margin-right: auto;

                @media(min-width: $xlg) {
                    flex-direction: row;
                }

                > a {
                    font-weight: 700;
                    width: 35%;

                    &:after {
                        display: none;
                    }
                }

                &:hover {
                    > a {

                        &:after {
                            @media(min-width: $xlg) {
                                right: 5px;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.106' height='5.555' viewBox='0 0 9.106 5.555'%3E%3Cpath id='Path_43' data-name='Path 43' d='M14.553 31.155 10 26.6l1-1 3.552 3.552L18.1 25.6l1 1Z' transform='translate(-10 -25.6)' fill='%23d3a878'/%3E%3C/svg%3E");
                            }
                        }
                    }   
                }

                .sub-menu {
                    width: 100%;
                    position: relative;
                    opacity: 1;
                    display: flex;
                    z-index: 10;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    
                    @media(min-width: $xlg) {
                        width: 65%;
                    }
                }

                .sub-menu__link {
                    
                    &-container {
                        display: flex;
                        flex-direction: column;

                        p {
                            position: relative;
                            margin-top: 15px;
                            font-weight: 500;
                            font-size: 16px;
                            color: $brand-color;
                            text-decoration: none;
                            padding-left: 20px;
                            margin-bottom: 0;

                            @media(min-width: $md) {
                                padding-left: 20px;
                            }

                            @media(min-width: $xlg) {
                                font-size: 12px;
                                padding-left: 25px;
                            }

                            &:before {
                                content: '';
                                left: 0;
                                top: 50%;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='2' viewBox='0 0 20 2'%3E%3Cline id='Line_3' data-name='Line 3' x2='20' transform='translate(0 1)' fill='none' stroke='%23d3a878' stroke-width='2'/%3E%3C/svg%3E");
                                content: '';
                                position: absolute;
                                background-size: contain;
                                width: 10px;
                                height: 2px;

                                @media(min-width: $md) {
                                    width: 15px;
                                }
                            }
                        }
                    }

                    &-image {
                        background-size: cover;
                        width: 100%;
                        padding-top: 175px;
                        background-position: center;
                        background-repeat: no-repeat;

                        @media(min-width: $xlg) {
                            padding-top: 110px;
                        }
                    }


                }
            }
        }

        &.search {
            a {

                @media(min-width: $xlg) {

                    position: relative;
                    padding-right: 20px;

                    &:after, &:hover:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.499' height='11.5' viewBox='0 0 11.499 11.5'%3E%3Cg id='Group_26' data-name='Group 26' transform='translate(-2.15 -2.25)'%3E%3Cpath id='Path_44' data-name='Path 44' d='M13.261 12.7l-2.649-2.649a4.623 4.623 0 1 0-.659.659L12.6 13.361a.447.447 0 0 0 .648 0A.451.451 0 0 0 13.261 12.7ZM7.038 10.828a3.7 3.7 0 1 1 3.7-3.7A3.712 3.712 0 0 1 7.038 10.828Z' fill='%23d3a878' stroke='%23d3a878' stroke-width='0.5'/%3E%3C/g%3E%3C/svg%3E");
                        height: 15px;
                        width: 15px;
                        transform: translateY(-50%);
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            
        }

        &.event {
            a {
                padding: 5px 25px;
                margin-left: 10px;
                font-size: 14px;
                color: $white;
                font-family: $base-font-family;
                text-transform: none;
                letter-spacing: normal;
                background-color: transparent;
                transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
                text-decoration: none;
                text-align: center;
                border: 1px solid $white;


                &:before {
                    content: none;
                }

                &:hover {
                    background-color: $sec-brand-color;
                    color: $white;
                }
            }
        }
    }

    a {
        color: $white;
        font-family: $sec-font-family;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        display: block;
        font-weight: 500;
        @include font-size(18);
        padding: 10px;
        transition: color 0.3s ease, background-color 0.3s ease;
        position: relative;

        @media(min-width: $xlg) {
            @include font-size(14);
        }

        &.btn-normal--light-blue {
            color: $white;
        }
    }

    > ul > li > a {
        padding: 10px 5px 10px 60px;
        position: relative;
        @include font-size(30);
        font-family: $base-font-family;
        text-transform: none;
        letter-spacing: normal;
        font-weight: 700;

        @media(min-width: $xlg) {
            letter-spacing: 2px;
            font-weight: 500;
            font-family: $sec-font-family;
            text-transform: uppercase;
            @include font-size(14);
            position: relative;
            padding: 10px;

        }

        &:before {
            content: '';
            position: absolute;
            height: 4px;
            left: 20px;
            bottom: 50%;
            transform: translateY(50%);
            width: 28px;
            background-color: $sec-brand-color;
            display: block;

            @media(min-width: $xlg) {
                content: '';
                position: absolute;
                bottom: 5px;
                height: 2px;
                left: 10px;
                width: calc(100% - 20px);
                background-color: $sec-brand-color;
                display: block;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }
    }

    > ul > li:hover > a {
        color: $sec-brand-color;

        @media(min-width: $xlg) {
            &:before {
                opacity: 1;
            }
        }
    }

    li.is-clicked ul li a {
        color: $brand-color;
    }

    .sub-menu {
        left: 0;
        z-index: 100;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: white;
        height: 100%;
        transition: transform 0.3s ease;
        transform: translateX(100%);
        overflow: scroll;

        &.is-open {
            transform: translateX(0);
        }
        
        @media(min-width: $xlg) {
            overflow: visible;
            top: 100%;
            width: 100%;
            display: block;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: -1;
            background-color: $white;
            min-width: 200px;
            pointer-events: none;
            transform: none;
            height: auto;
        }

        li:last-of-type a {
            padding-bottom: 10px;
        }

        .menu-back a {
            padding-left: 20px;
        }

        li {
            width: 100%;


            @media(min-width: $md) {
                width: 50%
            }

            @media(min-width: $xlg) {
                width: calc(25% - 25px);
            }

            a {
                padding-left: 60px;
                font-weight: 300;
                padding-right: 60px;

                @media(min-width: $xlg) {
                    padding-right: 50px;
                    padding-left: 10px;
                    font-weight: 700;
                    padding-right: 0;
                }
            }

            &.menu-item-has-children > a {
                display: none;
                @media(min-width: $xlg) {
                    display: block;
                    padding-right: 50px;
                }
            }
        }

        a {
            padding: 6px 10px;

            @media(min-width: $xlg) {
                background: $white;
                color: $brand-color;
                border-left: 3px solid transparent;
            }
        }
    }
}

.menu-back {
    position: relative;
    background-color: $sec-brand-color;

    a {
        color: $white;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='15.000000000000002' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpolygon id='svg_1' points='23.81204748339951,0.024792054668068886 12.97604894824326,10.86079216003418 2.139049055054784,0.024792054668068886 0.05504894442856312,2.1087920665740967 12.97604894824326,15.028792381286621 15.060048582032323,12.944792747497559 25.896049024537206,2.1087920665740967 ' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-50%) rotate(90deg);
    }
}

.mob-hide {
    display: none;

    @media(min-width: $xlg) {
        display: block;
    }
}