.two-col {

    padding-bottom: 0;

    @media(min-width: $md) {
        padding-bottom: 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__col {
        width: 100%;

        @media(min-width: $md) {
            width: 50%;
            margin-bottom: 0;
        }

        &--text {
            text-align: center;
            padding: 50px;

            @media(min-width: $md) {
                padding: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
            }
        }

        &.bg-blue {
            background: $brand-color;

            .two-col__info-pre-title {
                p {
                    color: $sec-brand-color;
                }
            }

            .two-col__info-text {
                p {
                    color: $white;

                    span {
                        color: $sec-brand-color;
                    }
                }
            }
        }

        &.bg-white {
            background: $white;

            .two-col__info-pre-title {
                p {
                    color: $brand-color;
                }
            }

            .two-col__info-text {
                p {
                    color: $brand-color;

                    span {
                        color: $sec-brand-color;
                    }
                }
            }

            .two-col__info-link {
                a {
                    background-color: $white;
                    color: $brand-color;
                    border: 1px solid $brand-color;
                    transition: 0.3s ease color, 0.3s ease background-color;

                    &:hover {
                        background-color: $sec-brand-color;
                        color: $white;
                    }
                }
            }
        }

        &.bg-gold {
            background: $sec-brand-color;

            .two-col__info-pre-title {
                p {
                    color: $white;
                }
            }

            .two-col__info-text {
                p {
                    color: $white;

                    span {
                        color: $brand-color;
                    }
                }
            }
        }
    }

    &__info-pre-title {
        margin: 100px auto;
        max-width: 300px;
        text-align: center;
        margin-bottom: 80px;

        @media(min-width: $md) {
            margin-bottom: 70px;
        }
    }

    &__info-text {
        max-width: 450px;
        padding: 0 25px;
        margin-top: 80px;
        margin-bottom: 30px;

        @media(min-width: $md) {
            margin: 0 auto;
            margin-bottom: 70px;
        }

        p {
            text-align: center;
            line-height: 1.3;
            font-size: 35px;
            margin: 0;
            font-weight: 600;

            span {
                color: $sec-brand-color;
            }
        }
    }

    &__info-link {
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 80px;

        @media(min-width: $md) {
            margin: 100px auto;
            margin-top: 80px;
        }
        
        a {
            text-transform: none;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 500px;

        @media(min-width: $md) {
            padding-top: 0;
        }
    }

    &__video {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 500px;

        @media(min-width: $md) {
            padding-top: 0;
        }
    }

    &__play {
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        left: 0;

        svg {
            width: 100%;
        }

        p {
            margin: 0;
            color: $brand-color;
            text-transform: uppercase;
        }
    }
}