.btn {
    padding: 5px 25px;
    display: inline-block;
    color: $white;
    background: $btn-bg;
    @include font-size(16);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
    transition: background-color 0.25s ease-in-out;
    text-decoration: none;
    text-align: center;
    border: 1px solid $white;

    @media screen and (min-width: $breakpoint-sm) {
        display: inline-block;
    }
    &:hover {
        color: $btn-text-hover;
        text-decoration: none;
        background-color: $btn-bg-hover;
    }

    &--smaller {
        padding: 7px 11px;
        @include font-size(14);
    }

    &--smaller-font {
        font-family: $sec-font-family;
        padding: 8px 30px;
        font-size: 15px;
        font-weight: 500;
    }

    &--gold {
        background-color: $sec-brand-color;
        border: 1px solid $brand-color;
        color: $brand-color;

        &:hover {
            background-color: $brand-color;
        }
    }
}

.link {
    color: $btn-bg;
    @include font-size(14);
    font-weight: 700;
    transition: text-decoration 0.3s ease;

    &:hover {
        transition: color 0.25s ease-in-out;
        color: $btn-bg-hover;
    }
}