.wrapper {
    padding-top: 60px;
    @media(min-width: $breakpoint-md) {
        padding-top: 120px;
    }
}

html {
    background: white;
}

body {
    position: relative;
    background: $bg-alt;
    z-index: 1;
}

.container {
    @extend %container;
    box-sizing: border-box;
    &--narrow {
        max-width: 800px;
        margin: 0 auto;
    }
}

.section {
    @extend %section;
    position: relative;
    &__header {
        text-align: center;
        margin: 0 auto $sp-unit*2;
        max-width: 800px;
        p {
            max-width: 700px;
            margin: 0 auto;
        }
    }
}

.section-container>.section:first-child {
    border-top: 0;
    padding-top: 0px;
}

.section-subtitle {
    text-align: center;
}

.section-title {
    text-align: center;
    margin: 0 0 15px;
    font-size: 20px;
}